 .jumbotron h1 {
  color: black;
  text-align: center;
  background-color: lightgreen;
}

.about-me p {
  font-size: 14pt;
}
.link {
  color: red;
}
.Day {
  text-align: center;
  border: 1px solid black;
}

body {
  background-image: url("./../img/backgr.jpeg")
}

.jumbotron {
  background-image: url("./../img/backgr.jpeg")
}
