 .jumbotron h1 {
  color: black;
  text-align: center;
  background-color: lightblue;
  }

.name {
  float:left;
  }

.e-mail {
  float: right;
}

.about-me p {
  font-size: 14pt;
}

.link {
  color: red;
}

.Day {
  text-align: center;
  border: 2px solid black;
}

body {
  background-image: url("./../img/backgr.jpeg");
}

.jumbotron {
  background-image: url("./../img/Portland.jpg")
}

.Education li {
  font-size: 20pt;
}

.job li {
  font-size: 20pt;
}

#epicodus {
  font-size: 20pt;
  }
